/* .fighter {
    width: 20%;
} */

.fighter img {
    width: 100%;
    object-fit: scale-down;
}

#vs {
    width: 100%;
    object-fit: scale-down;
}

#arena {
    height: 25%;
}


/* Pokemon Battle */

.battle {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 46% 8% 46%;
}

.stats {
    grid-column-end: span 2;
    background: pink;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 10% 15% 25% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    font-size: 20px;
    align-items: center;
}

.stats.enemy {
    grid-column-start: 1;
    grid-row-start: 1;
}

.stats.player {
    grid-column-start: 2;
    grid-row-start: 3;
}

.sprite {
    grid-row-end: span 2;
    grid-column-end: span 1;
    background: blue;
}

.sprite.player {
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
}

.sprite.enemy {
    grid-column-start: 3;
    grid-row-start: 1;
}

.battle-display {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: span 3;
    border: double 5px black;
    background: green;
    font-size: 150%;
    padding: 1.5rem;
    z-index: 1;
}

.stats .name {
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-end: span 3;
}

.stats .hp-label {
    grid-column-start: 2;
    grid-row-start: 3;
}

.stats.enemy .level {
    grid-row-start: 2;
    grid-column-start: 3;
}

.stats.enemy .trim {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-end: span 2;
    position: relative;
    width: 85%;
    height: 85%;
    bottom: 10%;
    left: 5%;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
}

.stats.enemy .arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 0 20px;
    border-color: transparent transparent transparent black;
    position: absolute;
    right: -17px;
    bottom: -3px;
}

.stats .hp-bar-outer,
.stats .hp-bar-inner {
    height: 50%;
    width: 85%;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: span 2;
    /* I don't know why this hack works to make a pill shape */
    border-radius: 500px;
}

.stats .hp-bar-outer {
    border: solid 3px black;
}

.stats .hp-bar-inner {
    border: transparent 3px black;
    background: green;
}

.stats.player .level {
    grid-column-start: 4;
}

.stats.player .name {
    grid-column-start: 2;
    position: relative;
    left: 4%;
}

.stats.player .hp-value {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 4;
    width: 85%;
    text-align: center;
}

.stats.player .trim {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-end: span 3;
    position: relative;
    width: 85%;
    height: 85%;
    bottom: 10%;
    left: 10%;
    border-right: solid 3px black;
    border-bottom: solid 3px black;
}

.stats.player .arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 20px 0 0;
    border-color: transparent black transparent black;
    position: absolute;
    left: -18px;
    bottom: -3px;
}

.battle-menu {
    border: double 5px black;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 4;
    background: white;
    z-index: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    font-size: 150%;
}

.battle-menu button {
    background: white;
    border: none;
}

.battle-menu button:focus {
    outline: none;
}

.menu-arrow {
    visibility: hidden;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent black;
    position: relative;
    top: 30px;
    left: 10%;
}

.battle-menu button:hover .menu-arrow {
    visibility: visible;
}

.battle-menu {
    cursor: pointer;
}

.cut {
    position: relative;
    width: 250px;
    height: 250px;
}


/* .cut .line {
    margin: 0;
    position: absolute;
    top: calc(11.015% + 4.5 * .707px);
    right: calc(11.015% + 4.5 *.707px);
    width: 0;
    transform: rotate(-45deg);
    height: 0;
    border-top: double 9px black;
    background: white;
} */

.cut .path {
    position: absolute;
    width: 100%;
    top: 50%;
    right: 0;
    /* border-top: double 9px black; */
    transform: rotate(-45deg);
    margin: 0;
    height: 9px;
}

.cut .path>.line {
    border-top: double 9px black;
    width: 0%;
    position: absolute;
    right: 0;
    background: white;
}

.star8 {
    border: 3px solid black;
    background: white;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    transform: translateX(-25%);
    transform: translateY(-25%);
}

.star8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    transform: rotate(135deg);
}

.star8:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotate(135deg);
    box-shadow: 0 0 0 3px black;
    mix-blend-mode: overlay;
}