/* .fighter {
    width: 20%;
} */

body {
    background: url(../images/dark-honeycomb.png);
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.fighter img {
    width: 100%;
    object-fit: scale-down;
}

#vs {
    width: 100%;
    object-fit: scale-down;
}

#arena {
    height: 25%;
}


/* Pokemon Battle */

.battle {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 46% 8% 46%;
}

.stats {
    position: relative;
    z-index: 1;
    grid-column-end: span 2;
    /* background: pink; for debug */
    background: white;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 10% 15% 25% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    font-size: 20px;
    align-items: center;
}

.stats.enemy {
    grid-column-start: 1;
    grid-row-start: 1;
}

.stats.player {
    grid-column-start: 2;
    grid-row-start: 3;
}

.sprite {
    grid-row-end: span 2;
    grid-column-end: span 1;
    background: white;
    position: relative;
}

.sprite.player {
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
}

.sprite.enemy {
    grid-column-start: 3;
    grid-row-start: 1;
}

.sprite img {
    position: relative;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    object-position: 0 0;
}

.battle-display {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: span 3;
    border: double 5px black;
    background: white;
    font-size: 150%;
    padding: 1.5rem;
    z-index: 1;
}

.stats .name {
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-end: span 3;
}

.stats .hp-label {
    grid-column-start: 2;
    grid-row-start: 3;
}

.stats.enemy .level {
    grid-row-start: 2;
    grid-column-start: 3;
}

.stats.enemy .trim {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-end: span 2;
    position: relative;
    width: 85%;
    height: 85%;
    bottom: 10%;
    left: 5%;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
}

.stats.enemy .arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 0 20px;
    border-color: transparent transparent transparent black;
    position: absolute;
    right: -17px;
    bottom: -3px;
}

.stats .hp-bar-outer,
.stats .hp-bar-inner {
    height: 50%;
    width: 85%;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: span 2;
    /* I don't know why this hack works to make a pill shape */
    border-radius: 500px;
}

.stats .hp-bar-outer {
    border: solid 3px black;
}

.stats .hp-bar-inner {
    border: transparent 3px black;
    background: green;
}

.stats.player .level {
    grid-column-start: 4;
}

.stats.player .name {
    grid-column-start: 2;
    position: relative;
    left: 4%;
}

.stats.player .hp-value {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 4;
    width: 85%;
    text-align: center;
}

.stats.player .trim {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-end: span 3;
    position: relative;
    width: 85%;
    height: 85%;
    bottom: 10%;
    left: 10%;
    border-right: solid 3px black;
    border-bottom: solid 3px black;
}

.stats.player .arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 20px 0 0;
    border-color: transparent black transparent black;
    position: absolute;
    left: -18px;
    bottom: -3px;
}

.battle-menu {
    border: double 5px black;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 4;
    background: white;
    z-index: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    font-size: 150%;
}

.battle-menu button {
    background: white;
    border: none;
}

.battle-menu button:focus {
    outline: none;
}

.menu-arrow {
    visibility: hidden;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent black;
    position: relative;
    top: 30px;
    left: 10%;
}

.battle-menu button:hover .menu-arrow {
    visibility: visible;
}

.battle-menu {
    cursor: pointer;
}

.cut,
.cut-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 250px;
    z-index: 1;
}

.cut .path,
.cut-back .path {
    position: absolute;
    width: 100%;
    top: 50%;
    right: 0;
    /* border-top: double 9px black; */
    margin: 0;
    height: 9px;
}

.cut .path {
    transform: rotate(-45deg);
}

.cut-back .path {
    transform: rotate(45deg);
}

.path>.line {
    border-top: double 9px black;
    width: 0%;
    position: absolute;
    right: 0;
    background: white;
}

.cut .path>.line {
    right: 0;
}

.cut-back .path>.line {
    left: 0;
}

.star8 {
    border: 3px solid black;
    background: white;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    transform: translateX(-25%);
    transform: translateY(-25%);
}

.cut .star8 {
    right: 0;
    top: 0;
}

.cut-back .star8 {
    right: calc(100% - 17px);
    top: 0;
}

.star8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    transform: rotate(135deg);
}

.star8:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotate(135deg);
    box-shadow: 0 0 0 3px black;
    mix-blend-mode: overlay;
}

#thunder {
    position: absolute;
    left: 14px;
    top: 0;
}

#game-screen {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    overflow: hidden;
    border: 5px outset rgba(28, 110, 164, 0.53);
    box-sizing: content-box;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    background: white;
}

.shutter {
    overflow: hidden;
    height: 300px;
    width: 600px;
    position: absolute;
    z-index: 10;
}

.shutter:before {
    content: "";
    height: 500px;
    width: 1000px;
    position: absolute;
    background-color: black;
    left: -200px;
}

#top-shutter:before {
    transform-origin: 50% 100%;
    top: -200px;
}

#top-shutter {
    top: 0;
}

#bottom-shutter:before {
    transform-origin: 50% 0;
}

#bottom-shutter {
    bottom: 0;
}

.rotate:before {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.enemy-select {
    width: 600px;
    height: 600px;
    text-align: center;
}

.enemy-option {
    width: 150px;
    margin: auto auto;
    transition: transform .2s;
    padding: 3px;
    border: 1px lightgrey solid;
    cursor: pointer;
}

.enemy-option img {
    width: 100%;
}


/* #luke-skywalker.enemy-option:hover:before {
    content: "Luke Skywalker";
} */

.enemy-option:hover {
    transform: scale(1.4);
}


/* .enemy-option:hover:after {
    content: "100";
} */

.options {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
}

.display {
    border: double 5px black;
    background: white;
    font-size: 150%;
    padding: 1.5rem;
    z-index: 1;
    width: 100%;
    height: 150px;
    text-align: left;
}

#fadeout {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
}